<%= flash[:notice] %>
<h1><%= @workout.name %></h1>

<div id="wk-exercises">Exercises:
  <ul>
    <%
      @movements.each do |movement|
      exercise = Exercise.find(movement.exercise_id)
      @exercises << exercise
      @tags << exercise.tags
    %>
      <li><%= movement.number %>. <a href="/exercises/<%= exercise.slug %>"><%= exercise.name %></a> - <%= movement.reps %></li>
    <% end %>
  </ul>
</div>

<div id="display-tags">Tags:
  <% 
  @tags.flatten!
  @tags.uniq.each do |tag| %>
    <a class="ex-tag" href="/tags/<%= tag.slug %>"><%= tag.name %></a>
  <% end %>
</div>

<p>
  <a href="/workouts">Back to Index</a> |
  <a href="/workouts/<%= @workout.slug %>/edit">Edit</a> |
  <a href="/workouts/<%= @workout.slug %>" data-method="delete" data-confirm="Are you sure?">Delete</a>
</p>
