<%= flash[:notice] %>
<h1><%= @tag.name %></h1>

<div>Exercises:
  <ul>
    <% @exercises.each do |exercise| %>
      <li><a href="/exercises/<%= exercise.slug %>"><%= exercise.name %></a></li>
    <% end %>
  </ul>
</div>

<div>Workouts tagged with "<%= @tag.name %>":
  <ul>
    <% @workouts.uniq.each do |workout| %>
      <li><a href="/workouts/<%= workout.slug %>"><%= workout.name %></a></li>
    <% end %>
  </ul>
</div>

<p>
  <a href="/tags">Back to Index</a> |
  <a href="/tags/<%= @tag.slug %>/edit">Edit</a> |
  <a href="/tags/<%= @tag.slug %>" data-method="delete" data-confirm="Are you sure?">Delete</a>
</p>
