<%= flash[:notice] %>
<h1><%= @exercise.name %></h1>

<div id="display-tags">Tags:
  <% @tags.each do |tag| %>
    <a class="ex-tag" href="/tags/<%= tag.slug %>"><%= tag.name %></a>
  <% end %>
</div>
<p>
  <a href="/exercises">Back to Index</a> |
  <a href="/exercises/<%= @exercise.slug %>/edit">Edit</a> |
  <a href="/exercises/<%= @exercise.slug %>" data-method="delete" data-confirm="Are you sure?">Delete</a>
</p>
