<h1><%= @exercise.name %></h1>
<h5>Tags</h5>
  <% @tags.each do |tag| %>
    <div class="ex-tag"><%= tag.name %></div>
  <% end %>
<%= flash[:notice] %>
<p>
  <a href="/exercises">Back to Index</a> |
  <a href="/exercises/<%= @exercise.slug %>/edit">Edit</a> |
  <a href="/exercises/<%= @exercise.slug %>" data-method="delete" data-confirm="Are you sure?">Delete</a>
</p>
